html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* height: 100%; */
}

a {
  color: #888;
  text-decoration: none;
}
a:hover {
 color: inherit;
}
footer {
  width: 100%;
  height: auto;
  padding: 40px 0;
}

* {
  box-sizing: border-box;
}
.form-control,.form-control:focus {
  /* border:none; */
  box-shadow: none;
  /* border-color: none; */
}
.form-control:focus{
  border-color: #ced4da
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
